.container {
    margin-bottom: 30px;
}

.content {
    width: 100%;
}

.content .inputs {
    float: left;
    width: calc(100% - 110px);
    margin-right: 10px;
}

.content .buttons {
    float: left;
    width: 100px;
}

.content .split {
    margin: 10px 0;
}
